* {
    font-family: "Poppins";
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-name {
    order: -1;
    margin-right: auto;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.card {
    display: flex;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.2);
}

.card  {
    transform: scale(1);
}

html {
    scroll-behavior: smooth;
}

.navbar, footer {
    background-color: #2A0B2D;
}

#landing {
    background-color: #3E3353;
    background-image: url("./images/pexels.jpg");
    object-fit: cover;
}

#landing .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#landing .description {
    padding: 5rem;
}

.profile-img {
    max-width: 350px !important;
    height: auto;
}

#projects {
    background: linear-gradient(180deg, rgba(20,22,19,1) 0%, rgba(62,51,83,1) 53%, rgba(105,86,143,1) 100%);
    color: white;
}

#projects .card {
    color: black;
}

#tools {
    background: linear-gradient(180deg, rgba(105,86,143,1) 0%, rgba(116,128,124,1) 100%);
    color: white;
}

#contact {
    background: linear-gradient(180deg, rgba(20,22,19,1) 0%, rgba(62,51,83,1) 53%, rgba(105,86,143,1) 100%);
    color: white;
}

#contact .fa {
    color: white;
    font-size: 2rem !important;
}

#map {
    background: linear-gradient(180deg, rgba(140,159,139,1) 0%, rgba(217,194,153,1) 100%);
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.footer div:not(:last-child) {
    margin-right: 10px;
}

.footer div:first-child {
    margin-left: 0;
}

.contactInfo a {
    text-decoration: none;
    color: inherit; 
}

.btn-clr {
    background: linear-gradient(180deg, rgba(20,22,19,1) 0%, rgba(62,51,83,1) 53%, rgba(105,86,143,1) 100%);
    color: white;
}